version: "3.9"

services:
  backend:
    build: .
    container_name: moments-backend
    env_file:
      - .env
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`backend.local`)"
      - "traefik.http.routers.backend.entrypoints=web"
    ports:
      - "8080:8080"

  traefik:
    image: traefik:v2.10
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80" # Traefik interno
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - app-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - prometheus

  ngrok:
    image: wernight/ngrok
    container_name: ngrok
    depends_on:
      - backend
    environment:
      - NGROK_PORT=backend:8080
    ports:
      - "4040:4040" # Painel do ngrok
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
